@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600;700&family=Raleway:wght@400;500;600;700&display=swap");

@import url("CSS/index/header-navigation.css");
@import url("CSS/index/background.css");

/* ==========[Color]========== */

:root {
  --grey: linear-gradient(hsla(50, 80%, 100%, 0.5), hsla(40, 60%, 80%, 0.4));

  --white: hsl(0, 0%, 100%);
  --black-color: hsl(220, 24%, 12%);
  --black-color-light: hsl(220, 24%, 15%);
  --body-color: hsl(220, 100%, 97%);
  --black-color-lighten: hsl(220, 20%, 18%);

  /* ==========[FONT]========== */

  --Raleway: "Raleway", sans-serif;
  --Josefin: "Josefin Sans", sans-serif;

  /* ==========[FONT WEIGHT]========== ==========[FONT WEIGHT]========== */

  --Raleway400: 400;
  --Raleway700: 700;
  --Raleway500: 500;
  --Raleway600: 600;

  /* ==========[FONT SIZE]==========  */

  --Raleway16: 16px;
  --Raleway20: 20px;
  --Raleway25: 25px;
  --normal-font-size: 0.938rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--white);
  /* border: 1px solid black; */
}

body {
  /* background: black; */
  background-color: var(--body-color);
}

/* ============[Responsive typography]============ */
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}
