header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  /* background-color: var(--black-color); */
  font-family: var(--Raleway);
  font-weight: var(--Raleway700);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.nav {
  height: 3.5rem;
}

.nav__data {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
}

.nav__toggle__first {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__login {
  position: relative;
  width: 40px;
}

.nav__toggle__second {
  position: relative;
  width: 35px;
  height: 25px;
}

.fa-moon,
.fa-right-to-bracket {
  width: max-content;
  height: max-content;
  inset: 0;
  font-size: 1rem;
  margin: auto;
  margin-inline: 1px;
}

.fa-bars,
.fa-xmark {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.fa-xmark {
  opacity: 0;
}

/* ============[Navigation for Mobile View]============ */

@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    background-color: grey;
    height: calc(70vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }

  .nav__menu::-webkit-scrollbar {
    width: 0;
  }

  .nav__list {
    top: 1rem;
    /* background-color: var(--black-color); */
    padding-top: 1rem;
  }
}

.nav__link {
  /* background-color: var(--black-color); */
  font-weight: var(--Raleway600);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.nav__link:hover {
  background-color: var(--black-color-light);
}

.show-menu {
  opacity: 0.8;
  top: 3.5rem;
  pointer-events: initial;
}
